#veranstaltungen {
  margin-top: 10rem;
}

.background-img {
  width: 100%;
  height: auto;
}

.background-img-wrapper {
  position: relative;

  .get-ticket-img {
    position: absolute;
    width: 30vw;
    max-width: 20rem;
    height: auto;
    bottom: 0.5%;
    left: 0;
  }

  .cinema-tickets-img {
    position: absolute;
    width: 30vw;
    max-width: 30rem;
    height: auto;
    right: 0;
    bottom: 10%;
    transform: translateY(50%);
  }
}

.tickets {
  color: white;
  font-size: 1.5rem;

  table {
    margin: 25vh auto;
  }
  td {
    padding: 1rem 2rem;
  }
}
