.fab-background-wrapper {
  position: relative;
  margin-bottom: 30rem;
}

.fab-background-img {
  width: 100%;
  height: auto;
}

.person {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: auto;
  opacity: 0.3;
  cursor: pointer;
}

.person2 {
  left: 20%;
}

.person3 {
  left: 40%;
}

.person4 {
  left: 60%;
}
.person5 {
  left: 80%;
}

.person.active {
  opacity: 1;
}

.person-text-wrapper {
  position: absolute;
  opacity: 0;
}

.person-text-wrapper.active {
  opacity: 1;
}

.person-text {
  max-width: 30%;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  position: relative;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  .person-card-text {
    margin-top: 1rem;
    font-size: 0.8rem;
    opacity: 0.8;
  }

  .person-card-role-text {
    color: white;
    font-size: 0.8rem;
    opacity: 0.8;
  }

  .border-left,
  .border-right,
  .border-bottom {
    position: absolute;
    background: white;
    z-index: 100;
  }

  .border-bottom {
    background: white;
    height: 2px;
    bottom: 0%;
    left: 0%;
  }

  .border-left {
    width: 2px;
    top: 0%;
    left: 0%;
  }

  .border-right {
    width: 2px;
    top: 0%;
    right: 0%;
  }

  .border-bottom {
    animation: drawBorder 1s ease-in-out forwards;
  }

  .border-left {
    animation: drawBorderLeft 1s ease-in-out forwards;
  }
  .border-right {
    animation: drawBorderLeft 1s ease-in-out forwards;
  }
}

.person1-text {
  left: 2%;
}

.person2-text {
  left: 20%;
}
.person3-text {
  left: 40%;
}
.person4-text {
  right: 20%;
  text-align: right;
  .person-text {
    text-align: right;
    padding-right: 1.5rem;
    margin-left: auto;
  }
}
.person5-text {
  right: 2%;
  .person-text {
    text-align: right;
    margin-left: auto;
    padding-right: 1.5rem;
  }
}

@keyframes drawBorder {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes drawBorderLeft {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
