#fabrikanten {
  margin-bottom: 30rem;
}

.scroll-wrapper {
  // overflow-x: auto;
  // overflow-y: visible;
  overflow-x: scroll;
  overflow-y: visible;
  height: 85%;
  width: 300rem;
  position: relative;
  margin-top: auto;
}

.image-wrapper {
  position: relative;
  height: 100%;
  width: fit-content;
  margin: 0rem auto;
}

.fab-background {
  background: url('../img/Hintergrund_Fabrikarbeiter.png') no-repeat center top;
  background-size: cover;
  height: 75vh;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.fab-text {
  height: 30vh;
  width: 100%;
  max-height: auto;
}

.person-img-cutter {
  height: 10vh;
}

// .team-wrapper{
//   max-width: 100vw;
//   overflow-x: auto;
// }

.img-team {
  // position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: auto;
  min-width: 10%;
  max-width: 3000rem;
  margin-left: auto;
  margin-right: auto;
}

.person {
  position: absolute;
  bottom: 0;
  width: auto;
  height: 80%;
  opacity: 0;
  cursor: pointer;
}

.person1 {
  left: 6.2%;
}

.person2 {
  left: 16.3%;
}

.person3 {
  left: 24.4%;
  height: 84%;
}

.person4 {
  left: 39.2%;
  height: 89%;
}

.person5 {
  left: 50.8%;
  height: 89%;
}

.person6 {
  right: 17%;
  height: 80%;
}

.person7 {
  right: 5%;
  height: 75%;
}
.person.active {
  opacity: 1;
}

.person-text-wrapper {
  position: absolute;
  opacity: 0;
}

.person-text-wrapper.active {
  opacity: 1;
}

.person-text {
  max-width: 30%;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  position: relative;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  p {
    min-width: 25rem;
  }
  .person-card-text {
    margin-top: 1rem;
    font-size: 0.8rem;
    opacity: 0.8;
  }

  .person-card-role-text {
    color: white;
    font-size: 0.8rem;
    opacity: 0.8;
  }

  .border-left,
  .border-right,
  .border-bottom {
    position: absolute;
    background: white;
    z-index: 100;
  }

  .border-bottom {
    background: white;
    height: 2px;
    bottom: 0%;
    left: 0%;
  }

  .border-left {
    width: 2px;
    top: 0%;
    left: 0%;
  }

  .border-right {
    width: 2px;
    top: 0%;
    right: 0%;
  }

  .border-bottom {
    animation: drawBorder 1s ease-in-out forwards;
  }

  .border-left {
    animation: drawBorderLeft 1s ease-in-out forwards;
  }
  .border-right {
    animation: drawBorderLeft 1s ease-in-out forwards;
  }
}

.person1-text {
  left: 10%;
  bottom: -20%;
}

.person2-text {
  left: 17%;
}
.person3-text {
  left: 28%;
}
.person4-text {
  left: 42%;
}
.person5-text {
  right: 32%;
  .person-text {
    text-align: right;
    margin-left: auto;
    padding-right: 1.5rem;
  }
}
.person6-text {
  right: 20%;
  .person-text {
    text-align: right;
    margin-left: auto;
    padding-right: 1.5rem;
  }
}
.person7-text {
  right: 9%;
  .person-text {
    text-align: right;
    margin-left: auto;
    padding-right: 1.5rem;
  }
}

@keyframes drawBorder {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes drawBorderLeft {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
