#fabrikanten {
  overflow-x: auto;
}

.fab-background-wrapper {
  position: relative;
  margin-bottom: 20rem;
  min-width: 80rem;
}

.fab-background-img {
  width: 100%;
  min-width: 80rem;
  height: auto;
}

.person-img-cutter {
  height: 10vh;
}

.person {
  position: absolute;
  bottom: -5%;
  width: auto;
  height: 75%;
  opacity: 0;
  cursor: pointer;
}

.img-team {
  position: absolute;
  left: 0;
  bottom: -5%;
  width: 100%;
  min-width: 80rem;
  height: auto;
}

.person1 {
  left: 6.2%;
}

.person2 {
  left: 16.2%;
}

.person3 {
  left: 24.5%;
  height: 78%;
}

.person4 {
  left: 39%;
  height: 84%;
}

.person5 {
  left: 50.85%;
  height: 83%;
}

.person6 {
  right: 17.5%;
  height: 77%;
}

.person7 {
  right: 5%;
  height: 70%;
}
.person.active {
  opacity: 1;
}

.black-background {
  width: 100%;
  height: 10vh;
  background: black;
  position: absolute;
}

.person-text-wrapper {
  position: absolute;
  opacity: 0;
}

.person-text-wrapper.active {
  opacity: 1;
}

.person-text {
  max-width: 30%;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  position: relative;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
  }
  .person-card-text {
    margin-top: 1rem;
    font-size: 0.8rem;
    opacity: 0.8;
  }

  .person-card-role-text {
    color: white;
    font-size: 0.8rem;
    opacity: 0.8;
  }

  .border-left,
  .border-right,
  .border-bottom {
    position: absolute;
    background: white;
    z-index: 100;
  }

  .border-bottom {
    background: white;
    height: 2px;
    bottom: 0%;
    left: 0%;
  }

  .border-left {
    width: 2px;
    top: 0%;
    left: 0%;
  }

  .border-right {
    width: 2px;
    top: 0%;
    right: 0%;
  }

  .border-bottom {
    animation: drawBorder 1s ease-in-out forwards;
  }

  .border-left {
    animation: drawBorderLeft 1s ease-in-out forwards;
  }
  .border-right {
    animation: drawBorderLeft 1s ease-in-out forwards;
  }
}

.person1-text {
  left: 8%;
}

.person2-text {
  left: 17%;
}
.person3-text {
  left: 28%;
}
.person4-text {
  left: 42%;
}
.person5-text {
  right: 32%;
  .person-text {
    text-align: right;
    margin-left: auto;
    padding-right: 1.5rem;
  }
}
.person6-text {
  right: 20%;
  .person-text {
    text-align: right;
    margin-left: auto;
    padding-right: 1.5rem;
  }
}
.person7-text {
  right: 9%;
  .person-text {
    text-align: right;
    margin-left: auto;
    padding-right: 1.5rem;
  }
}

@keyframes drawBorder {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes drawBorderLeft {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
