.trailer {
  margin-top: 20vh;
  height: auto;
  width: 100%;
  min-height: 100vh;
  h2 {
    margin: 4rem auto 3rem auto;
    transform: rotateZ(-5deg);
    text-align: center;
    font-weight: 300;
  }
  video {
    width: 90%;
    max-height: 80vh;
    display: block;
    margin: 0rem auto;
  }
}
