.home-wrapper {
  max-width: 100vw;
  overflow: hidden;
  height: 100vh;
}

.home {
  position: relative;
  height: 80vh;
  background-image: url("../img/Hauptbild.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#logo {
  height: 50vh;
  max-width: 50vw;
  position: absolute;
  cursor: pointer;
  -webkit-animation: flyinLeft 1s ease;
          animation: flyinLeft 1s ease;
}

.buy-tickets-img {
  height: 20vh;
  position: absolute;
  right: 0;
  top: 10%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-animation: flyinRight 1s ease;
          animation: flyinRight 1s ease;
  cursor: pointer;
}

.buy-tickets-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

nav {
  width: 100%;
  opacity: 1;
  height: 10vh;
  -webkit-animation: fadIn 1s ease;
          animation: fadIn 1s ease;
}

nav ul {
  padding: 5rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: auto;
  margin-bottom: auto;
}

nav a {
  font-size: 1.6vw;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
}

.nav-mobile {
  position: absolute;
  top: 5%;
  right: 5%;
}

.burger {
  position: relative;
  display: none;
  cursor: pointer;
  z-index: 10;
}

.burger span {
  padding: 0.1rem 1.2rem;
  background: white;
  margin: 0.5rem 0rem;
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.toggle .line1 {
  -webkit-transform: rotateZ(45deg) translateY(480%);
          transform: rotateZ(45deg) translateY(480%);
}

.toggle .line3 {
  -webkit-transform: rotateZ(-45deg) translateY(-480%);
          transform: rotateZ(-45deg) translateY(-480%);
}

.toggle .line2 {
  opacity: 0;
}

@media (min-width: 1400px) {
  ul a {
    font-size: 1.6rem !important;
  }
}

@media (max-width: 1000px) {
  .buy-tickets-img {
    top: 50%;
  }
  #logo {
    max-width: 20rem;
    height: auto;
  }
}

@media (max-width: 750px) {
  nav {
    position: fixed;
    top: 0%;
    bottom: 0%;
    background: black;
    opacity: 0.9;
    height: 100vh;
    width: 70vw;
    right: 0%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    top: 0%;
    right: 0%;
  }
  nav ul a {
    font-size: 1rem;
  }
  .home {
    overflow: hidden;
  }
  .burger {
    display: block;
  }
}

@-webkit-keyframes flyinLeft {
  from {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes flyinLeft {
  from {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes flyinRight {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes flyinRight {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.trailer {
  margin-top: 20vh;
  height: auto;
  width: 100%;
  min-height: 100vh;
}

.trailer h2 {
  margin: 4rem auto 3rem auto;
  -webkit-transform: rotateZ(-5deg);
          transform: rotateZ(-5deg);
  text-align: center;
  font-weight: 300;
}

.trailer video {
  width: 90%;
  max-height: 80vh;
  display: block;
  margin: 0rem auto;
}

.themes {
  margin-top: 20vh;
  min-height: 100vh;
  height: auto;
}

.themes h2 {
  text-align: center;
  font-weight: 300;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.themes img {
  width: 100%;
}

.themes .cards-wrapper {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: auto;
  padding: 1rem 10vw;
}

.themes .cards-wrapper::-webkit-scrollbar {
  height: 4px;
  /* At least not zero */
}

.themes .cards-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  /* Or any other instruction making the element visible */
  border-radius: 5px;
}

.themes .card {
  width: 25vw;
  min-width: 20rem;
  margin: 0rem 1rem;
  padding: 0rem 2rem;
  padding-bottom: 2rem;
  position: relative;
  cursor: pointer;
}

.themes .card .card-overlay-img {
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

.themes .card .card-main-img-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background: black;
  opacity: 0;
  pointer-events: none;
}

.themes .card .card-images {
  position: relative;
  margin-bottom: 2rem;
  pointer-events: none;
}

.themes .card .hide {
  position: relative;
  overflow: hidden;
  margin: 0rem;
  padding: 0rem;
}

.themes .card h3 {
  color: white;
  font-size: 1.5rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  pointer-events: none;
}

.themes .card p {
  color: white;
  font-size: 0.8rem;
  font-weight: 200;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  pointer-events: none;
}

.themes .card .card-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
  pointer-events: none;
}

.themes .card .border-left,
.themes .card .border-bottom {
  position: absolute;
  background: white;
  z-index: 100;
  pointer-events: none;
}

.themes .card .border-bottom {
  background: white;
  height: 2px;
  bottom: 0%;
  left: 0%;
}

.themes .card .border-left {
  width: 2px;
  bottom: 0%;
  left: 0%;
}

.themes .card:hover h3 {
  -webkit-animation: flyIn 0.5s 0.5s ease-in-out forwards;
          animation: flyIn 0.5s 0.5s ease-in-out forwards;
}

.themes .card:hover p {
  -webkit-animation: flyIn 0.5s 1s ease-in-out forwards;
          animation: flyIn 0.5s 1s ease-in-out forwards;
}

.themes .card:hover .border-bottom {
  -webkit-animation: drawBorder 0.75s ease-in-out forwards;
          animation: drawBorder 0.75s ease-in-out forwards;
}

.themes .card:hover .border-left {
  -webkit-animation: drawBorderLeft 0.75s ease-in-out forwards;
          animation: drawBorderLeft 0.75s ease-in-out forwards;
}

.themes .card:hover .card-main-img-overlay {
  opacity: 0.7;
}

.themes .card:hover .card-overlay-img {
  opacity: 1;
  z-index: 10;
}

@media (max-width: 1300px) {
  .cards-wrapper {
    padding: 1rem 0rem !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes flyIn {
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes flyIn {
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes drawBorder {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes drawBorder {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes drawBorderLeft {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@keyframes drawBorderLeft {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

.contact {
  height: auto;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20vh;
}

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-info h2 {
  font-family: 'montserrat', sans-serif;
  font-weight: 300;
  text-align: end;
}

.contact-info h3 {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: end;
}

.contact-info h4 {
  margin-top: 3rem;
  font-size: 1.7rem;
  font-weight: 500;
  text-align: end;
}

.contact-info a {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  text-align: end;
}

.contact-info a:hover {
  text-decoration: underline;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 4rem;
}

.contact-form input,
.contact-form select {
  width: 30vw;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.contact-form select {
  background: white;
  border: none;
}

.contact-form option {
  padding: 1rem 1rem;
}

.contact-form textarea {
  width: 30vw;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-family: 'montserrat', sans-serif;
}

.contact-form span {
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
}

.contact-form .contact-big-input {
  height: 10rem;
}

.contact-form button {
  background: #930f1b;
  color: white;
  border-radius: 0.8rem;
  padding: 0.8rem 1.5rem;
  border: none;
  font-size: 1rem;
  font-family: 'montserrat', sans-serif;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.contact-form button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
}

footer span {
  font-size: 1.2rem;
  color: white;
}

footer a {
  font-size: 1.2rem;
  font-weight: 500;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  margin: 0rem 0.5rem;
}

footer a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  text-decoration: underline;
}

footer img {
  max-height: 5rem;
}

footer .footer-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-image span {
  color: #d19504;
  font-weight: 600;
}

@media (max-width: 800px) {
  .contact {
    height: auto;
  }
  footer {
    width: 100%;
    margin-top: 4rem;
  }
  footer .footer-image {
    margin-top: 2rem;
  }
  .contact-wrapper {
    display: block;
  }
  .contact-info {
    margin-bottom: 2rem;
  }
  .contact-info h2 {
    font-family: 'montserrat', sans-serif;
    font-weight: 300;
    text-align: start;
    font-size: 2.2rem;
    text-align: center;
  }
  .contact-info h3 {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 0.2rem;
  }
  .contact-info h4 {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .contact-info a {
    margin: 1.5rem auto;
    font-size: 1.2rem;
    text-align: start;
  }
  .contact-form {
    margin-left: 0rem;
  }
  .contact-form input,
  .contact-form textarea {
    width: 80vw;
  }
}

#veranstaltungen {
  margin-top: 10rem;
}

.background-img {
  width: 100%;
  height: auto;
  min-height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.background-img-wrapper {
  position: relative;
}

.background-img-wrapper .get-ticket-img {
  position: absolute;
  width: 30vw;
  max-width: 20rem;
  min-width: 10rem;
  height: auto;
  bottom: 0%;
  left: 0;
}

.background-img-wrapper .cinema-tickets-img {
  position: absolute;
  width: 30vw;
  max-width: 30rem;
  min-width: 10rem;
  height: auto;
  right: 0;
  bottom: 10%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.tickets {
  color: white;
  font-size: 1.5rem;
}

.tickets table {
  margin: 25vh auto;
}

.tickets td {
  padding: 1rem 2rem;
}

.shopify-buy__product {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 30vh;
  width: auto;
  max-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 95%;
}

.shopify-buy__product__title {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shopify-buy__product__price,
.shopify-buy__product__title,
.shopify-buy__btn-and-quantity {
  margin: 0 !important;
}

.shopify-buy__product__actual-price {
  margin-right: 4rem !important;
}

@media (max-width: 800px) {
  .shopify-buy__product__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 10rem;
            flex: 1 1 10rem;
  }
}

@media (max-width: 600px) {
  .shopify-buy__product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 15rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 5rem;
    margin-top: 15vh;
  }
  .shopify-buy__product__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    display: block;
    width: 100%;
    text-align: center;
  }
}

#fabrikanten {
  margin-bottom: 10rem;
}

.scroll-wrapper {
  overflow-x: auto;
  overflow-y: visible;
  height: 85%;
  width: 300rem;
  position: relative;
  margin-top: auto;
}

.scroll-wrapper::-webkit-scrollbar {
  height: 4px;
  /* At least not zero */
}

.scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  /* Or any other instruction making the element visible */
  border-radius: 5px;
}

.image-wrapper {
  position: relative;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0rem auto;
}

.fab-background {
  background: url("../img/Hintergrund_Fabrikarbeiter.png") no-repeat center top;
  background-size: cover;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.fab-text {
  height: 45vh;
  width: 100%;
  max-height: auto;
  position: relative;
  overflow: hidden;
}

.person-img-cutter {
  height: 10vh;
}

.img-team {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: auto;
  min-width: 10%;
  max-width: 3000rem;
  margin-left: auto;
  margin-right: auto;
  user-drag: none;
  -webkit-user-drag: none;
}

.person {
  position: absolute;
  bottom: 0;
  width: auto;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.person1 {
  left: 0%;
}

.person2 {
  left: 27%;
}

.person3 {
  left: 42.6%;
}

.person4 {
  left: 68%;
}

.person.active {
  opacity: 1;
}

.person-text-wrapper {
  position: absolute;
  opacity: 0;
}

.person-text-wrapper.active {
  opacity: 1;
}

.person-text-wrapper.active .border-bottom {
  -webkit-animation: drawBorder 0.5s 0.5s ease-in-out forwards;
          animation: drawBorder 0.5s 0.5s ease-in-out forwards;
}

.person-text-wrapper.active .border-left {
  -webkit-animation: drawBorderLeft 0.5s ease-in-out forwards;
          animation: drawBorderLeft 0.5s ease-in-out forwards;
}

.person-text-wrapper.active .border-right {
  -webkit-animation: drawBorderLeft 0.5s ease-in-out forwards;
          animation: drawBorderLeft 0.5s ease-in-out forwards;
}

.person-text {
  max-width: 40%;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  position: relative;
}

.person-text h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.person-text .person-card-text {
  margin-top: 1rem;
  font-size: 0.8rem;
  opacity: 0.8;
}

.person-text .person-card-role-text {
  color: white;
  font-size: 0.8rem;
  opacity: 0.8;
}

.person-text .border-left,
.person-text .border-right,
.person-text .border-bottom {
  position: absolute;
  background: white;
  z-index: 100;
}

.person-text .border-bottom {
  background: white;
  height: 2px;
  bottom: 0%;
  left: 0%;
}

.person-text .border-left {
  width: 2px;
  top: 0%;
  left: 0%;
}

.person-text .border-right {
  width: 2px;
  top: 0%;
  right: 0%;
}

.person1-text {
  left: 30%;
}

.person2-text {
  left: 40%;
}

.person3-text {
  right: 40%;
  left: unset;
}

.person3-text .person-text {
  text-align: right;
  margin-left: auto;
  padding-right: 1.5rem;
}

.person3-text .border-bottom {
  right: 0;
  left: unset;
}

.person4-text {
  right: 32%;
  left: unset;
}

.person4-text .person-text {
  text-align: right;
  margin-left: auto;
  padding-right: 1.5rem;
}

.person4-text .border-bottom {
  right: 0;
  left: unset;
}

.person5-text {
  right: 32%;
  left: unset;
}

.person5-text .person-text {
  text-align: right;
  margin-left: auto;
  padding-right: 1.5rem;
}

.person5-text .border-bottom {
  right: 0;
  left: unset;
}

.person6-text {
  right: 25%;
  left: unset;
}

.person6-text .person-text {
  text-align: right;
  margin-left: auto;
  padding-right: 1.5rem;
}

.person6-text .border-bottom {
  right: 0;
  left: unset;
}

.person7-text {
  right: 20%;
  left: unset;
}

.person7-text .person-text {
  text-align: right;
  margin-left: auto;
  padding-right: 1.5rem;
}

.person7-text .border-bottom {
  right: 0;
  left: unset;
}

@media (max-width: 900px) {
  .person-text {
    max-width: initial;
  }
  .person1-text,
  .person2-text,
  .person3-text,
  .person4-text,
  .person5-text,
  .person6-text,
  .person7-text {
    left: 10%;
    right: 10%;
  }
  .person1-text .person-text,
  .person2-text .person-text,
  .person3-text .person-text,
  .person4-text .person-text,
  .person5-text .person-text,
  .person6-text .person-text,
  .person7-text .person-text {
    text-align: left;
    margin-left: 0;
    padding-right: 0rem;
    height: auto;
  }
  .person1-text .person-card-text,
  .person2-text .person-card-text,
  .person3-text .person-card-text,
  .person4-text .person-card-text,
  .person5-text .person-card-text,
  .person6-text .person-card-text,
  .person7-text .person-card-text {
    min-width: 0;
  }
  .person1-text .border-right,
  .person2-text .border-right,
  .person3-text .border-right,
  .person4-text .border-right,
  .person5-text .border-right,
  .person6-text .border-right,
  .person7-text .border-right {
    width: 2px;
    top: 0%;
    left: 0%;
  }
  .person1-text .border-bottom,
  .person2-text .border-bottom,
  .person3-text .border-bottom,
  .person4-text .border-bottom,
  .person5-text .border-bottom,
  .person6-text .border-bottom,
  .person7-text .border-bottom {
    left: 0;
    right: unset;
  }
}

@keyframes drawBorder {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes drawBorderLeft {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@font-face {
  font-family: 'Billionaire';
  src: URL("../fonts/BillionaireMediumGrunge.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: black;
  font-size: 62.5%;
  font-family: 'montserrat', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

p {
  color: white;
}

h2 {
  font-family: Billionaire, sans-serif;
  color: white;
  font-size: 4rem;
}

h3 {
  color: white;
}

h4 {
  color: white;
}
/*# sourceMappingURL=styles.css.map */