@import './home';
@import './trailer';
@import './themes';
@import './contact';
@import './buytickets';
@import './fabrikanten';
@import './thankyou';
@import './impressum';
@import './dsgvo';
@import './select';

@font-face {
  font-family: 'Billionaire';
  src: URL('../fonts/BillionaireMediumGrunge.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  font-size: 62.5%;
  font-family: 'montserrat', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

p {
  color: white;
}

h2 {
  font-family: Billionaire, sans-serif;
  color: white;
  font-size: 4rem;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

.cookie-pop-up {
  width: 100%;
  position: fixed;
  bottom: 0%;
  left: 0%;
  min-height: 8vh;
  height: auto;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: white;
    font-size: 0.9rem;
    flex: 3 1 30rem;
  }
  button {
    padding: 1rem 2rem;
    margin-left: 5rem;
    background: #930f1b;
    border: none;
    color: white;
    font-family: 'montserrat', sans-serif;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
      transform: scale(1.1);
      transition: all 0.5s ease;
    }
  }
  @media (max-width: 800px) {
    button {
      margin-left: 1rem;
      padding: 1rem 1rem;
      white-space: nowrap;
    }
  }
}
